.main-view {
  text-align: center;
  padding-top: 42px;

  .top-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #EC1D25;

    p {
      color: #FFFFFF;	
      font-family: Montserrat;	
      font-size: 10px;	
      line-height: 32px;
      text-align: center;
    }

    .fa {
      color: white;
    }

    .cta-link {
      color: #FFFFFF;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.2px;
      line-height: 36px;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .faq {
    margin: 4px 0 32px 0;
  }

  .content {
    margin: 20px -24px 50px -24px;
    padding: 24px 0;
    background: rgba(#333333, .5);

    .count {
      margin-bottom: 8px;
      color: #FFFFFF;	
      font: 900 16px / 24px Montserrat;
      letter-spacing: 0.8px;
    }

    .caption-count {
      color: #EC1D25;
      font: 400 10px / 14px Montserrat;
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;

    p {
      margin-bottom: 4px;
      color: #EEEEEE;	
      font-family: Montserrat;	
      font: 700 14px / 16px Montserrat;
      letter-spacing: 0.2px;
    }

    .version-number {
      font-size: 14px;
    }

    .version {
      .text {
        font-size: 12px;
      }
    }
  }

  .toggle-checkbox .slide-toggle {
    margin: auto;
  }
}